<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #232323;" class="top">
  <a class="navbar-brand" href="/">TDR 2020-22</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="bi bi-house-door"></i> Inici <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="bi bi-file-earmark"></i> TDR</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-list-task"></i> Tasks
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">JS</a>
          <a class="dropdown-item" href="#">PHP</a>
        </div>
      </li>
    </ul>
  </div>
</nav>